{% extends 'media/media_base.html' %}

{% load pictures %}

{% block style %}
<style>
  .masonry { 
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  
  @media screen {
    .masonry-brick {
      flex: auto;
      height: 400px;
      min-width: 150px;
    }
  }

  @media screen and (max-width: 992px) {
    .masonry-brick {
      flex: auto;
      height: 350px;
      min-width: 150px;
    }
  }

  @media screen and (max-width: 768px) {
    .masonry-brick {
      flex: auto;
      height: 250px;
      min-width: 150px;
    }
  }


  .masonry-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .masonry-brick:nth-child(4n+1) {
    width: 250px;
  }
  .masonry-brick:nth-child(4n+1):nth-child(4n+2) {
    width: 325px;
  }
  .masonry-brick:nth-child(4n+1):nth-child(4n+3) {
    width: 180px;
  }
  .masonry-brick:nth-child(4n+1):nth-child(4n+4) {
    width: 380px;
  } 

</style>

{% endblock  %}

{% block content %}
    <main class="mb-5 flex-grow-1">
      <div class="container-xl">
        <div class="masonry">
          {% for picture in album.picture_set.all %}
            <div class="masonry-brick">
              <img src="{% img_url picture.picture file_type="webp" width=1000 %}" class="masonry-img" alt="{{ picture.title }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </main>
{% endblock  %}