{% extends 'media/media_base.html' %}

{% load pictures %}

{% block content %}
    <main class="mb-3 mx-3 flex-grow-1 d-flex flex-column align-items-center">

        <div class="cover-container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container px-0">
                  <h1 class="display-4">Photography.</h1>
                  <p class="lead">
                    Mostly my own. There are a few pictures, however, taken by others. All carry good memories.
                  </p>
                </div>
              </div>
        </div>


        <div class="container">
            <div class="row g-1">
                {% for album in album_list %}
                    <div class="col-sm-6 col-lg-4">
                        <a href="{% url 'album_detail' album.slug %}">
                            <div class="img-box">
                            
                                <img src="{% img_url album.preview.picture file_type="webp" width=600 %}" class="image" alt="placeholder">
                            
                                <div class="overlay">
                                    <div class="overlay-text">
                                        <h5>
                                            {{ album.title | upper }}
                                        </h5>
                                        <p class="fs-6">
                                            {{ album.description }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}       
            </div>
        </div>
    </main>
{% endblock  %}