{% extends "blog/blog_base.html" %}

{% load pictures %}

{% block content %}
<main class="my-3 mx-3">
    <div class="cover-container m-auto">
        {% if post.art %}
        <div class="mb-3">
            <img src="{% img_url post.art file_type="webp" width=2200 %}" class="img-fluid" alt="{{ post.title }}">
        </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        {{ post.content | safe}}
    </div>
    <div class="container text-center mt-5">
        <a href="#top" class="btn btn-outline-dark">Back to top</a>
    </div>    
</main>
{% endblock %}